

/*  Small */
@media (max-width: 767px) {


        .col.tarmac-worker{
            display: none!important;

        }

        .intro-info .pull-quote{
            display: flex!important;
            flex-direction: column!important;
                font-size: 17px!important;
                margin: 20px 0
        }

        .pull-quote-area{
            margin: 0px;

        }


        .description-excerpt h4 {
            line-height: 1.2em;
        }

        .admin .emphasis-block ul{
            padding-left: 15px;
            /* list-style-position: inside; */

        }

        .admin .emphasis-block li{margin-bottom: 5px}

        .footer-copyright p{
            font-size: 15px;
        }


        .panel-title h5{
            font-size: 22px;
        }

        .home-strong-areas-tabs .topic-cards h6 {
            font-weight: 600 !important;
        }

        .full-screen {
            min-height: 100vh;
        }


            .home .big-number, .section-divider-numbered-02 .big-number{ font-size: 110px;}
            .big-section-title h4 {font-size: 30px; }
            .section-divider-numbered-02.col {gap: 0px;}

            .unicorn-intro {
            font-size: 24px;
            font-weight: 500;
            padding-right: 0px;
            line-height: 1.1em;
            margin-top: 30px;
            font-family: var(--archivo-headers-01);
        }

        .rsm-item-header h5, .oops-missed-this-one h5{
            font-size: 24px;
            font-weight: 600 !important;

        }





}


