

#block-intro-slider {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.control-area button{ display: none;}


.idd #block-intro-slider {
    background-color: #111111 !important;
    height: 85vh;
    display: flex;
    justify-content: center;
align-items: center;
    flex-direction: row;
}

.idd-hero-video video{
    aspect-ratio: 5/3.7;
}



.admin #block-intro-slider {
    background-color: #111111 !important;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.admin #block-intro-slider .col{
    padding: 0px!important;
}

/* .admin #block-intro-slider video { max-width: 70% !important;} */



.musicasa #block-intro-slider {
    background-color: #333;
    height: 70vh;
}


    .musicasa-hero-video video{
        width: 100%;
        aspect-ratio: 16/10;
    }


.citybox #block-intro-slider {
    height: 85vh;
    background-color: #0d1445!important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* padding: 80px; */
}

            @media (max-width: 991px) {

                    .admin #block-intro-slider {
                        height: 40vh;
                    }
                    
                    
                    .citybox #block-intro-slider{
                        height: 40vh;
                    }
            }


.about #home-hero-opener{ 
    overflow: hidden !important;
    background-color: #000; 
    height: 60vh !important;
}


.resume #home-hero-opener   { background-color: #080e21; }
.contact #home-hero-opener  { background-color: #080e21; }


#home-hero-opener .container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}


#home-hero-opener .h-80 {
    height: 80% !important;
}

#home-hero-opener .h-95 {
    height: 95% !important;
}

#home-hero-opener .h-20 {
    height: 20% !important;
}

#home-hero-opener .h-5 {
    height: 5% !important;
}

.home .home-hero-area h3 {
    font-family: var(--ibm-sans-headers-01) !important;
    line-height: 1.1em;
}

.home .home-hero-area p,
.home .home-hero-area h6 {
    font-family: var(--ibm-sans-body-01) !important;
    line-height: 1.1em;
}

.home-hero-text-block {
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column;
        padding: 30px; */
        line-height: 1.3em;
}


.resume #home-hero-opener,
.contact #home-hero-opener {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-x: left;
    /* background-position-y: 100px !important; */
    height: 60vh !important;
}


.video-pending {
    background-color: purple;
    padding: 20px 40px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    margin: 0 37%;
    color: white;
}
        

.view-larger-link a,
.view-larger-link-white a{
    font-size: 14px!important;
}

.view-larger-link::after,
.view-larger-link-white::after{
  font-family: 'Material Icons';
  content: '\e5c8'; /* The unicode for the "chevron_right" icon */
  font-size: 24px;
  vertical-align: middle;
  text-decoration: none;
}

.view-larger-link-white::after, .view-larger-link-white a{color: #FFFFFF!important;}

.control-area{
position: absolute;
    bottom: -40px;
    left: 0;
    /* border: 1px solid white; */
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 30px 0 0;
}

#video-container{
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
}

.all-video-items video{
        /* position: absolute; */
        position: relative;
        top: 0;
        left: 0;
        z-index: 5;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        background-color: #222;
        min-height: 700px;
}

button {cursor: pointer;}


/* 
.all-video-items{ z-index: 100; } */


/* 

