

.control-area{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    z-index: 1000;
    align-items: center;
    width: 100%;
}

.all-white .view-larger-link a{
    color: #FFF!important;

}

 e