@charset "utf-8";



#block-intro-slider{
    height: 70vh;
        display: flex;
    justify-content: center;
    align-items: flex-start;

}

#block-01 .page-title{


    border: 1px solid purple;
}

#block-01 .page-title h3{
    font-weight: 600!important;
        color: #333!important;
}


video { 
    background-size: cover; 
    display: table-cell; 
    vertical-align: middle; 
    width: 100%; 
}
#block-intro-slider video{
    height: 100%!important;
      max-height: 1000px!important;
      /* border: 3px solid red; */
}
#block-intro-slider{
    background-color: #666!important;
}

.citybox #block-01{
    /* background-color: #020634!important; */

    padding: 130px 0 0 0!important;
}

.citybox #block-01 .grid-lines .col{
    /* border: 1px solid #cacaca!important; */
}


.citybox #block-02 .gallery-item{
background-color: #4C4C4C !important;
}
    .citybox #block-02 .col{
        position: relative;
    width: 100%;
    padding: 0 5px;
    /* padding-right: 10px!important;
    padding-left: 10px!important; */

    }


.citybox #block-02 .gallery-item img{
       max-width: 100%!important;

}

#block-03{
    background-color: #393939!important;
    padding: 40px 0 130px 0!important;

}
.citybox #block-03 .cb-screens{
    max-height: 800px!important;
    max-width: 90%!important;

}

.citybox #block-03 .swiper-slide{
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.citybox #block-03 .swiper-button-prev,
.citybox #block-03 .swiper-button-next{

        /* margin: 10px 0 0 0; */

    height: 40px !important;
    width: 40px !important;
    padding: 0px !important;
    background-size: cover;
    background-color: unset!important;
    opacity: 0.75!important;

}

.citybox #block-03 .swiper-button-prev {
    /* margin: -15px 10px 0 0; */
     margin-left: 20px!important;
             background-image: url(../images/swiper-black-button-prev.png) !important;
             
}

.citybox #block-03 .swiper-button-next {
    /* margin: 10px 0  0 0; */
     margin-right: 20px!important;
             background-image: url(../images/swiper-black-button-next.png) !important;
}

.citybox #block-03  .swiper-button-next.swiper-button-black-highlight, .swiper-button-prev.swiper-button-black-highlight {
    border-radius: 0px;
}