@charset "utf-8";







.container{
    max-width: 90%!important;
}


.section-divider-dark,
.section-divider-light {
    margin-bottom: 0px!important;
}


.section-divider-dark,
.section-divider-light {

    margin-top: 40px;
    padding: 40px 0;
    font-size: 22px;
}
.section-divider-dark{
        border-top: 1px solid rgba(0,0,0,0.8);
    color: rgba(0,0,0,1);
    /* background-color: rgba(0,0,0,0.04); */
}



            .citybox .section-divider-light{
                margin-top: 10px!important;
        border-top: 1px solid rgba(255,255,255,0.5)!important;
    color: rgba(255,255,255,1)!important;
    
            }





.citybox #block-03,
.citybox .section-divider-light{
    background-color: #858586!important;
    /* border: 10px solid orange; */
}




.section-divider-light h6,
.section-divider-dark h6 {
    font-family: var(--alt-text);
    letter-spacing: -0.03em!important;
    font-weight: 400!important;



}