/* 
Dark:
--color-primary: hsl(250, 100%, 69%);

Light:
--color-primary: hsl(250, 84%, 54%);

*/



:root {
    --mega-nav-offset-y: 0px;
    --color-primary-darker: hsl(250, 84%, 38%);
    --color-primary-darker-h: 250;
    --color-primary-darker-s: 84%;
    --color-primary-darker-l: 38%;
    --color-primary-darker-hsl: 250, 84%, 38%;
    --color-primary-dark: hsl(250, 84%, 46%);
    --color-primary-dark-h: 250;
    --color-primary-dark-s: 84%;
    --color-primary-dark-l: 46%;
    --color-primary-dark-hsl: 250, 84%, 46%;
    --color-primary: hsl(250, 84%, 54%);
    --color-primary-h: 250;
    --color-primary-s: 84%;
    --color-primary-l: 54%;
    --color-primary-hsl: 250, 84%, 54%;
    --color-primary-light: hsl(250, 84%, 60%);
    --color-primary-light-h: 250;
    --color-primary-light-s: 84%;
    --color-primary-light-l: 60%;
    --color-primary-light-hsl: 250, 84%, 60%;
    --color-primary-lighter: hsl(250, 84%, 67%);
    --color-primary-lighter-h: 250;
    --color-primary-lighter-s: 84%;
    --color-primary-lighter-l: 67%;
    --color-primary-lighter-hsl: 250, 84%, 67%;
    --color-accent-darker: hsl(342, 89%, 38%);
    --color-accent-darker-h: 342;
    --color-accent-darker-s: 89%;
    --color-accent-darker-l: 38%;
    --color-accent-darker-hsl: 342, 89%, 38%;
    --color-accent-dark: hsl(342, 89%, 43%);
    --color-accent-dark-h: 342;
    --color-accent-dark-s: 89%;
    --color-accent-dark-l: 43%;
    --color-accent-dark-hsl: 342, 89%, 43%;
    --color-accent: hsl(342, 89%, 48%);
    --color-accent-h: 342;
    --color-accent-s: 89%;
    --color-accent-l: 48%;
    --color-accent-hsl: 342, 89%, 48%;
    --color-accent-light: hsl(342, 89%, 56%);
    --color-accent-light-h: 342;
    --color-accent-light-s: 89%;
    --color-accent-light-l: 56%;
    --color-accent-light-hsl: 342, 89%, 56%;
    --color-accent-lighter: hsl(342, 89%, 62%);
    --color-accent-lighter-h: 342;
    --color-accent-lighter-s: 89%;
    --color-accent-lighter-l: 62%;
    --color-accent-lighter-hsl: 342, 89%, 62%;
    --color-black: hsl(230, 13%, 9%);
    --color-black-h: 230;
    --color-black-s: 13%;
    --color-black-l: 9%;
    --color-black-hsl: 230, 13%, 9%;
    --color-white: hsl(0, 0%, 100%);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-white-hsl: 0, 0%, 100%;
    --color-success-darker: hsl(170, 78%, 26%);
    --color-success-darker-h: 170;
    --color-success-darker-s: 78%;
    --color-success-darker-l: 26%;
    --color-success-darker-hsl: 170, 78%, 26%;
    --color-success-dark: hsl(170, 78%, 31%);
    --color-success-dark-h: 170;
    --color-success-dark-s: 78%;
    --color-success-dark-l: 31%;
    --color-success-dark-hsl: 170, 78%, 31%;
    --color-success: hsl(170, 78%, 36%);
    --color-success-h: 170;
    --color-success-s: 78%;
    --color-success-l: 36%;
    --color-success-hsl: 170, 78%, 36%;
    --color-success-light: hsl(170, 78%, 42%);
    --color-success-light-h: 170;
    --color-success-light-s: 78%;
    --color-success-light-l: 42%;
    --color-success-light-hsl: 170, 78%, 42%;
    --color-success-lighter: hsl(170, 78%, 47%);
    --color-success-lighter-h: 170;
    --color-success-lighter-s: 78%;
    --color-success-lighter-l: 47%;
    --color-success-lighter-hsl: 170, 78%, 47%;
    --color-error-darker: hsl(342, 89%, 38%);
    --color-error-darker-h: 342;
    --color-error-darker-s: 89%;
    --color-error-darker-l: 38%;
    --color-error-darker-hsl: 342, 89%, 38%;
    --color-error-dark: hsl(342, 89%, 43%);
    --color-error-dark-h: 342;
    --color-error-dark-s: 89%;
    --color-error-dark-l: 43%;
    --color-error-dark-hsl: 342, 89%, 43%;
    --color-error: hsl(342, 89%, 48%);
    --color-error-h: 342;
    --color-error-s: 89%;
    --color-error-l: 48%;
    --color-error-hsl: 342, 89%, 48%;
    --color-error-light: hsl(342, 89%, 56%);
    --color-error-light-h: 342;
    --color-error-light-s: 89%;
    --color-error-light-l: 56%;
    --color-error-light-hsl: 342, 89%, 56%;
    --color-error-lighter: hsl(342, 89%, 62%);
    --color-error-lighter-h: 342;
    --color-error-lighter-s: 89%;
    --color-error-lighter-l: 62%;
    --color-error-lighter-hsl: 342, 89%, 62%;
    --color-warning-darker: hsl(35, 79%, 48%);
    --color-warning-darker-h: 35;
    --color-warning-darker-s: 79%;
    --color-warning-darker-l: 48%;
    --color-warning-darker-hsl: 35, 79%, 48%;
    --color-warning-dark: hsl(35, 79%, 56%);
    --color-warning-dark-h: 35;
    --color-warning-dark-s: 79%;
    --color-warning-dark-l: 56%;
    --color-warning-dark-hsl: 35, 79%, 56%;
    --color-warning: hsl(35, 79%, 66%);
    --color-warning-h: 35;
    --color-warning-s: 79%;
    --color-warning-l: 66%;
    --color-warning-hsl: 35, 79%, 66%;
    --color-warning-light: hsl(35, 79%, 74%);
    --color-warning-light-h: 35;
    --color-warning-light-s: 79%;
    --color-warning-light-l: 74%;
    --color-warning-light-hsl: 35, 79%, 74%;
    --color-warning-lighter: hsl(35, 79%, 82%);
    --color-warning-lighter-h: 35;
    --color-warning-lighter-s: 79%;
    --color-warning-lighter-l: 82%;
    --color-warning-lighter-hsl: 35, 79%, 82%;
    --color-bg-lighter: hsl(0, 0%, 100%);
    --color-bg-lighter-h: 0;
    --color-bg-lighter-s: 0%;
    --color-bg-lighter-l: 100%;
    --color-bg-lighter-hsl: 0, 0%, 100%;
    --color-bg-light: hsl(0, 0%, 100%);
    --color-bg-light-h: 0;
    --color-bg-light-s: 0%;
    --color-bg-light-l: 100%;
    --color-bg-light-hsl: 0, 0%, 100%;
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-h: 0;
    --color-bg-s: 0%;
    --color-bg-l: 100%;
    --color-bg-hsl: 0, 0%, 100%;
    --color-bg-dark: hsl(240, 4%, 95%);
    --color-bg-dark-h: 240;
    --color-bg-dark-s: 4%;
    --color-bg-dark-l: 95%;
    --color-bg-dark-hsl: 240, 4%, 95%;
    --color-bg-darker: hsl(240, 4%, 90%);
    --color-bg-darker-h: 240;
    --color-bg-darker-s: 4%;
    --color-bg-darker-l: 90%;
    --color-bg-darker-hsl: 240, 4%, 90%;
    --color-contrast-lower: hsl(240, 4%, 85%);
    --color-contrast-lower-h: 240;
    --color-contrast-lower-s: 4%;
    --color-contrast-lower-l: 85%;
    --color-contrast-lower-hsl: 240, 4%, 85%;
    --color-contrast-low: hsl(240, 4%, 65%);
    --color-contrast-low-h: 240;
    --color-contrast-low-s: 4%;
    --color-contrast-low-l: 65%;
    --color-contrast-low-hsl: 240, 4%, 65%;
    --color-contrast-medium: hsl(225, 4%, 47%);
    --color-contrast-medium-h: 225;
    --color-contrast-medium-s: 4%;
    --color-contrast-medium-l: 47%;
    --color-contrast-medium-hsl: 225, 4%, 47%;
    --color-contrast-high: hsl(230, 7%, 23%);
    --color-contrast-high-h: 230;
    --color-contrast-high-s: 7%;
    --color-contrast-high-l: 23%;
    --color-contrast-high-hsl: 230, 7%, 23%;
    --color-contrast-higher: hsl(230, 13%, 9%);
    --color-contrast-higher-h: 230;
    --color-contrast-higher-s: 13%;
    --color-contrast-higher-l: 9%;
    --color-contrast-higher-hsl: 230, 13%, 9%;
}