.extra {
  display: none;
}
p {
  font-family: "Poppins", sans-serif;
  line-height: 2em;
  display: inline;
}
input[type="checkbox"] {
  height: 2em;
  display: block;
  appearance: none;
}
label {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 1em;
  background-color: #2b8eec;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.5em;
}
label:before {
  content: "Read More";
}
input[type="checkbox"]:checked ~ label:before {
  content: "Read Less";
}
.dots:has(~ input[type="checkbox"]:checked) {
  display: none;
}
.extra:has(~ input[type="checkbox"]:checked) {
  display: inline;
}
